$header-fixed-bg:#fff;
$white-color:white;
$black-color:black;
$purple-color:#3b3663;
$orange-color:#f47514;
$grey-color:#4d4d4d;
$purple-light:rgba(139,129,239,1);
$purple-medium:rgba(103,89,232,1);
$font-primary:'Rubik', sans-serif;
$color-grey-dark-2: #6d5d4b;
$color-grey-dark-1: #54483a;
$color-primary: #0088ff;
$color: #696687;
$color-primary-dark: #000d6d;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

// FONT VARIABLES
$font-secondary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;