.carousel{
    &__img__par{
        position:relative;
        filter: brightness(0.8);
        transition:all 0.5s ease;
        overflow: hidden;
        
        &:hover{
            
            transform: scale(1,1.1);
        }
    }

    &__img__info{
        position:absolute;
        top:85%;
        left:2%;
        color:$white-color;
    }

   
}